{% extends "layout.html" %}

{% block title %} Account {% endblock %}

{% block nav %}
    <ul class="nav navbar-nav navbar-right">
        <p class="navbar-text">{% if message %} {{ message[1] }} {% endif %}</p>
        <li><a href="{{ url_for('user.logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="col-md-4 col-md-offset-4 textCenter" id="close">
        {% if message %}
            <div class="alert alert-success alert-dismissible fade in textCenter">
                {{ message[0] }} <strong>{{ message[1] }}</strong>
            </div>
        {% endif %}
        </div>

        <div>
            <br/>
            <h2>Dashboard</h2>
        </div>
    </div>

    <script>
        $("#close").fadeTo(2000, 500).slideUp(2000, function(){
            $("#close").slideUp(2000);
        });
    </script>

{% endblock %}
