{% extends "app/layout.html" %}

{% block title %} Poptraq {% endblock title %}

{% block nav %}
{% if current_user.is_authenticated %}
{% if current_user.confirmed %}
{% if current_user.user and current_user.admin %}
<ul class="nav navbar-nav navbar-right">
    <p class="navbar-text">{{ current_user.email }}</p>
    <li><a href="{{ url_for('admin.home')}}"><span class="glyphicon glyphicon-padlock"></span> Admin Home</a></li>
    <li><a href="{{ url_for('user.account')}}"><span class="glyphicon glyphicon-home"></span> User Home</a></li>
    <li><a href="{{ url_for('user.logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
</ul>
{% elif current_user.user%}
<ul class="nav navbar-nav navbar-right">
    <p class="navbar-text">{{ current_user.email }}</p>
    <li><a href="{{ url_for('user.account')}}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
    <li><a href="{{ url_for('user.logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
</ul>
{% else %}
<ul class="nav navbar-nav navbar-right">
    <p class="navbar-text">{{ current_user.email }}</p>
    <li><a href="{{ url_for('admin.home')}}"><span class="glyphicon glyphicon-padlock"></span> Home</a></li>
    <li><a href="{{ url_for('admin.logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
</ul>
{% endif %}
{% else %}
{% if current_user.user %}
<ul class="nav navbar-nav navbar-right">
    <p class="navbar-text">{{ current_user.email }}</p>
    <li><a href="{{ url_for('user.unconfirmed')}}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
    <li><a href="{{ url_for('user.logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
</ul>
{% endif %}
{% endif %}
{% else %}
<ul class="nav navbar-nav navbar-right">
    <p class="navbar-text">{{ current_user.email }}</p>
    <li><a href="{{ url_for('login')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    <li><a href="{{ url_for('user.register')}}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
</ul>
{% endif %}
{% endblock %}

{% block content %}

<div class="container">
    <center>
        <h1>Poptraq - Population Analyser</h1>
        <h2>Current Statistics Data</h2>
    </center>
</div>
<br>
{% if results %}
<div id="results" style="margin-left: 2cm; margin-right: 2cm; margin-bottom: 2cm;">
    <table class="table table-hover table-striped table-responsive"->
        <thead>
        <tr>
            <th>County ID</th>
            <th>County</th>
            <th>Sectors</th>
            <th>Population</th>
            <th>Current Budget</th>
            <th>ProposedBudget</th>
            <th>Area (Km<sup>2</sup>)</th>
        </tr>
        </thead>

        {% for result in results%}
        <tr>
            <td>{{ result.id }}</td>
            <td>{{ result.county_name }}</td>
            <td>{{ result.sectors }}</td>
            <td>{{ result.population }}</td>
            <td>{{ result.current_budget }}</td>
            <td>{{ result.proposed_budget }}</td>
            <td>{{ result.size }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
{% endblock %}
