{% extends "user/layout.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Login {% endblock %}

{% block nav %}
<ul class="nav navbar-nav navbar-right">
    <li><a href="{{ url_for('user.register')}}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
</ul>
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}

{% block content %}
<div class="container">
    <br/>
    <h2>Login</h2>

    <form class="form-horizontal col-sm-8" method="POST" action="{{ url_for('login')}}">
        {{ form.csrf_token }}
        {{ wtf.form_field(form.national_id) }}
        {{ wtf.form_field(form.email) }}
        {{ wtf.form_field(form.password) }}
        {{ wtf.form_field(form.recaptcha) }}
        {{ wtf.form_field(form.remember_me) }}
        <br/>
        <a href="{{ url_for('user.recover') }}" style="color: blue">Forgot Password?</a>
        <br/>
        <br/>
        <input class="btn btn-success" type="submit" value="Submit"/>
    </form>
</div>
{% endblock %}