{% extends "admin/layout.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Admin {% endblock title %}

{% block nav %}
{% if current_user.user and current_user.admin %}
<ul class="nav navbar-nav navbar-left">
    <li><a href="{{ url_for('user.account')}}"><span class="glyphicon glyphicon-refresh"></span> Switch</a></li>
</ul>
{% endif %}

<form class="navbar-form navbar-left" method="POST" action="{{ url_for('admin.search') }}">
    <div class="input-group">
        <div class="input-group-btn">
            {{ form.csrf_token }}
            {{ wtf.form_field(form.email, placeholder="Search email address...") }}
            <button class="btn btn-primary" type="submit">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
    </div>
</form>
<ul class="nav navbar-nav navbar-right">
    <li><a href="{{ url_for('admin.home')}}"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
    <li><a href="{{ url_for('admin.add_admin')}}"><span class="glyphicon glyphicon-arrow-left"></span> Back</a></li>
    <p class="navbar-text"><strong>Admin Account: </strong>{{ current_user.email }}</p>
    <li><a href="{{ url_for('admin.logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
</ul>
{% endblock %}

{% block content %}

<div class="container">
    <center>
        <h1>Admin - View</h1>
        <h2>Access Rights</h2>
    </center>
</div>
<br>
{% if results %}
<div id="results">
    <table class="table table-hover table-striped table-responsive">
        <thead>
        <tr>
            <th>National ID</th>
            <th>Email Address</th>
            <th>User Privileges</th>
            <td style="color:green;">Grant User Rights</td>
            <td style="color:red;">Revoke User Rights</td>
            <th>Admin Privileges</th>
            <td style="color:blue;">Grant Admin Rights</td>
            <td style="color:orange;">Revoke Admin Rights</td>
        </tr>
        </thead>

        {% for result in results%}
        <tr>
            <td>{{ result.national_id }}</td>
            <td>{{ result.email }}</td>
            <td>{{ result.user }}</td>
            <td><a href="{{ url_for('admin.grant_user_rights', national_id=result.national_id) }}" type="button"
                   class="btn btn-success">Grant User Rights</a></td>
            <td><a href="{{ url_for('admin.revoke_user_rights', national_id=result.national_id) }}" type="button"
                   class="btn btn-danger">Revoke User Rights</a></td>
            <td>{{ result.admin }}</td>
            <td><a href="{{ url_for('admin.grant_admin_rights', national_id=result.national_id) }}" type="button"
                   class="btn btn-primary">Grant Admin Rights</a></td>
            <td><a href="{{ url_for('admin.revoke_admin_rights', national_id=result.national_id) }}" type="button"
                   class="btn btn-warning">Revoke Admin Rights</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
<center><h3 style="color: red;">No Data to display</h3></center>
{% endif %}

{% if search %}
<div id="search">
    <table class="table table-hover table-striped table-responsive">
        <thead>
        <tr>
            <th>National ID</th>
            <th>Email Address</th>
            <th>User Privileges</th>
            <td style="color:green;">Grant User Rights</td>
            <td style="color:red;">Revoke User Rights</td>
            <th>Admin Privileges</th>
            <td style="color:blue;">Grant Admin Rights</td>
            <td style="color:orange;">Revoke Admin Rights</td>
        </tr>
        </thead>

        {% for result in search%}
        <tr>
            <td>{{ result.national_id }}</td>
            <td>{{ result.email }}</td>
            <td>{{ result.user }}</td>
            <td><a href="{{ url_for('admin.grant_user_rights', national_id=result.national_id) }}" type="button"
                   class="btn btn-success">Grant User Rights</a></td>
            <td><a href="{{ url_for('admin.revoke_user_rights', national_id=result.national_id) }}" type="button"
                   class="btn btn-danger">Revoke User Rights</a></td>
            <td>{{ result.admin }}</td>
            <td><a href="{{ url_for('admin.grant_admin_rights', national_id=result.national_id) }}" type="button"
                   class="btn btn-primary">Grant Admin Rights</a></td>
            <td><a href="{{ url_for('admin.revoke_admin_rights', national_id=result.national_id) }}" type="button"
                   class="btn btn-warning">Revoke Admin Rights</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endif %}
{% endblock %}
