<!doctype html>

<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Create your Admin Account</title>
</head>

<body>
<p>An Admin Account creation link has been activated. Follow the link to create your account:</p>

<br/>

<p><a href="{{ confirm_url }}">{{ confirm_url }}</a></p>

<br>

<p>Cheers!</p>
<br>
<p><i>@poptraq</i></p>
</body>

</html>