<!DOCTYPE html>

<html>
<head>
    <title>{% block title %} Poptraq {% endblock title %}</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico', _external=True) }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--Admin CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">

</head>

<body>
<nav class="nav navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('index')}}">Poptraq</a>
        </div>

        {% block nav %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('user.register')}}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
            <li><a href="{{ url_for('login')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
        {% endblock %}
    </div>
</nav>
<br/>
<br/>

{% with messages = get_flashed_messages(with_categories=true) %}
<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible text-center" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <!-- <strong>Title</strong> --> {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

{% block content %}
<div class="container">
    <center>
        <h1>Poptraq - Population Analyser</h1>
        <h2>Current Statistics Data</h2>
    </center>
</div>
<br>
<div id="results">
    <table class="table table-hover table-striped table-responsive">
        <thead>
        <tr>
            <th>County ID</th>
            <th>County</th>
            <th>Sub-Counties</th>
            <th>Sectors</th>
            <th>Population</th>
            <th>Budget</th>
            <th>Size</th>
        </tr>
        </thead>

        {% for result in results%}
        <tr>
            <td>{{ result[0] }}</td>
            <td>{{ result[1] }}</td>
            <td>{{ result[2] }}</td>
            <td>{{ result[3] }}</td>
            <td>{{ result[4] }}</td>
            <td>{{ result[5] }}</td>
            <td>{{ result[6] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}

    <!--JQuery CDN-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!--Bootstrap JS-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>