{% extends "admin/layout.html" %}

{% import "bootstrap/wtf.html" as wtf %}

{% block title %} Admin {% endblock title %}

{% block nav %}
{% if current_user.user and current_user.admin %}
    <ul class="nav navbar-nav navbar-left">
        <li><a href="{{ url_for('user.account')}}"><span class="glyphicon glyphicon-refresh"></span> Switch</a></li>
    </ul>
{% endif %}

<form class="navbar-form navbar-left" method="POST" action="{{ url_for('admin.search') }}">
    <div class="input-group">
        <div class="input-group-btn">
            {{ form.csrf_token }}
            {{ wtf.form_field(form.email, placeholder="Search email address...") }}
            <button class="btn btn-primary" type="submit">
                <i class="glyphicon glyphicon-search"></i>
            </button>
        </div>
    </div>
</form>

<ul class="nav navbar-nav navbar-right">
    <li><a href="{{ url_for('admin.home')}}"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
    <p class="navbar-text"><strong>Admin Account: </strong>{{ current_user.email }}</p>
    <li><a href="{{ url_for('admin.logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
</ul>
{% endblock %}

{% block content %}
{% if results %}
<div class="container">
    <center>
        <h1>Admin - View</h1>
        <h2>Logs | Manage accounts</h2>
    </center>
</div>
<br>

<div id="results" style="margin-left: 1cm; margin-right: 1cm; margin-bottom: 2cm;">
    <table class="table table-hover table-striped table-responsive">
        <thead>
        <tr>
            <th>National ID</th>
            <th>Email Address</th>
            <th>User Privileges</th>
            <th>Admin Privileges</th>
            <th>Created On</th>
            <th>Account Confirmed</th>
            <th>Updated On</th>
            <th>Last Seen</th>
            <th>Status</th>
            <th style="color: green;">Activate</th>
            <th style="color: orange;">Suspend</th>
            <th style="color: red;">Deactivate</th>
        </tr>
        </thead>

        {% for result in results%}
        <tr>
            <td>{{ result.national_id }}</td>
            <td>{{ result.email }}</td>
            <td>{{ result.user }}</td>
            <td>{{ result.admin }}</td>
            <td>{{ result.created }}</td>
            <td>{{ result.confirmed }}</td>
            <td>{{ result.updated }}</td>
            <td>{{ result.last_seen }}</td>
            <td>{{ result.status }}</td>
            <td><a href="{{ url_for('admin.activate', national_id=result.national_id) }}" type="button"
                   class="btn btn-success">Activate</a></td>
            <td><a href="{{ url_for('admin.suspend', national_id=result.national_id) }}" type="button"
                   class="btn btn-warning">Suspend</a></td>
            <td><a href="{{ url_for('admin.deactivate', national_id=result.national_id) }}" type="button"
                   class="btn btn-danger">Deactivate</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
<div class="container">
    <center>
        <h2 style="color: red;">Email not found</h2>
        <br>
        <br>
        <a href="{{ url_for('admin.settings') }}" class="btn btn-primary"><span class="glyphicon glyphicon-refresh"></span>Refresh</a>
    </center>
</div>
{% endif %}
{% endblock %}
