{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

<head>
    {%- block head %}
    <title>{% block title %} Poptraq {% endblock title %}</title>

    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">

    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block styles %}
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    {%- endblock styles %}

    {%- endblock head %}
</head>

{% block content %}

<div class="container">
    <center>

        <h1>Poptraq - Population Analyser</h1>

        <br/>

        <h2>Current Population || Budget</h2>

        <br/>
        <br/>

        <a class="btn btn-success" href="{{ url_for('login')}}" role="button">Login</a>

        <a class="btn btn-primary" href="{{ url_for('signup')}}" role="button">Signup</a>

        <a class="btn btn-danger" href="{{ url_for('logout')}}" role="button">Logout</a>

    </center>
</div>

{% endblock %}