{% extends "layout.html" %}

{% block title %} Poptraq {% endblock title %}

{% block nav %}
    {% if current_user.is_authenticated %}
        {% if current_user.confirmed %}
            <ul class="nav navbar-nav navbar-right">
                <p class="navbar-text">{{ current_user.email }}</p>
                <li><a href="{{ url_for('user.account')}}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a href="{{ url_for('user.logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        {% else %}
            <ul class="nav navbar-nav navbar-right">
                <p class="navbar-text">{{ current_user.email }}</p>
                <li><a href="{{ url_for('user.unconfirmed')}}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                <li><a href="{{ url_for('user.logout')}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
        {% endif %}
    {% else %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{ url_for('user.register')}}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
            <li><a href="{{ url_for('user.login')}}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    {% endif %}
{% endblock %}

{% block content %}
    <div style="text-align: center;">
        {% with messages = get_flashed_messages(with_categories=true) %}
          <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible text-center" role="alert" style="text-align: center;">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
                  <!-- <strong>Title</strong> --> {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
    </div>

    <div class="container">
        <center>
            <h1>Poptraq - Population Analyser</h1>
            <h2>Current Statistics Data</h2>
        </center>
    </div>
<br>
<div id="results">
    <table class="table table-hover table-striped table-responsive">
        <thead>
        <tr>
            <th>County ID</th>
            <th>County</th>
            <th>Sub-Counties</th>
            <th>Sectors</th>
            <th>Population</th>
            <th>Budget</th>
            <th>Size</th>
        </tr>
        </thead>

        {% for result in results%}
        <tr>
            <td>{{ result[0] }}</td>
            <td>{{ result[1] }}</td>
            <td>{{ result[2] }}</td>
            <td>{{ result[3] }}</td>
            <td>{{ result[4] }}</td>
            <td>{{ result[5] }}</td>
            <td>{{ result[6] }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
